/*
@import "highlight.js/styles/tomorrow-night-blue.css";

 */

::-webkit-scrollbar {
  width: 0.65rem;
  height: 0.65rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--background-color-grey);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--theme-color-light-1);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--theme-color-light-1);
}

::-webkit-scrollbar-track {
  background-color: var(--background-color-grey-transparent);
}

/*
@-moz-document url-prefix() {
  scrollbar-color: var(--background-color-grey)
    var(--background-color-grey-transparent);
  scrollbar-width: thin;
}
*/
::selection {
  background: var(--theme-color);
  color: var(--font-color-invert);
}

@layer components {
  .article-meta-info-box > div {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
  }

  .article-excerpt {
    margin: 3rem 0;
    border: 2px dashed var(--background-color-grey);
    position: relative;
    overflow: visible;
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
    border-radius: 0.75rem;
    padding: 1rem;
  }
  .article-main-content {
  }

  .article-main-content h1,
  .article-main-content h2,
  .article-main-content h3,
  .article-main-content h4,
  .article-main-content h5,
  .article-main-content h6,
  .article-main-content p {
    text-align: left;
  }
}
.article-meta-info-box a:hover {
  color: var(--theme-color);
}
